<div x-data="{ isRTL: document.dir === 'rtl' }" :dir="isRTL ? 'rtl' : 'ltr'">
    <div class="h-full flex flex-col"
         x-data="pageEditor({nid: '{{ nid }}', language: '{{ language }}', node: '{{ node|json_encode|e('js') }}', has_translation: '{{ has_translation }}', changed: '{{ changed }}', status: '{{ status }}', fields: '{{ fields|json_encode|e('js') }}'})">
        <div class="sticky top-0 z-10 bg-slate-50">
            <div x-show="!showBlockForm && !showParagraphBlockForm && !showParagraphViewForm && !showParagraphMultipleForm">
                {# Header with back button, title and actions #}
                {% include "@vactory_dashboard/node/_components/actions.html.twig" %}
            </div>

            {# Notification #}
            {% include "@vactory_dashboard/node/_components/message-notification.html.twig" %}

            <div x-show="!showBlockForm && !showParagraphBlockForm && !showParagraphViewForm && !showParagraphMultipleForm">
                {# Tabs #}
                {% include "@vactory_dashboard/node/_components/tabs.html.twig" %}
            </div>
        </div>
        {# Node Edit View #}
        <div x-show="!showBlockForm && !showParagraphBlockForm && !showParagraphViewForm && !showParagraphMultipleForm">
            {# Content Tab #}
            <div x-show="activeTab === 'content'">
                <div class="w-full">
                    <div x-ref="firstAddBlockButton">
                        {% include "@vactory_dashboard/node/_components/add-block-action.html.twig" with {
                            show: node_default_lang == language
                        } %}
                    </div>
                    <div class="space-y-1">
                        {% include "@vactory_dashboard/_components/paragraph/blocks.html.twig" %}
                    </div>
                    <div x-show="!isFirstAddBlockVisible && {{ node_default_lang == language ? 'true' : 'false' }}"
                         class="flex justify-end mt-4">
                        {% include '@vactory_admin/components/button/button.twig' with {
                            text: 'Add block'|t,
                            size: 'md',
                            variant: 'primary',
                            click_handler: 'showBlocksModal = true',
                            icon_left: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-3.5 w-3.5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path></svg>'
                        } %}
                    </div>
                </div>
            </div>
            {# Settings Tab #}
            {% include "@vactory_dashboard/node/_components/settings-form.html.twig" %}
            {# SEO Tab #}
            {% include "@vactory_dashboard/node/_components/seo-form.html.twig" %}
            <div x-show="activeTab === 'banner'">
                {% include "@vactory_dashboard/node/_components/banner-settings.html.twig" %}
            </div>
        </div>
        {# Template Form View #}
        <div x-show="showBlockForm" class="h-full">
            {% include "@vactory_dashboard/_components/paragraph/paragraph-template-form.html.twig" with {
                node_default_lang: node_default_lang,
                language: language,
            } %}
        </div>
        {# Paragraph Block Form View #}
        <template x-if="showParagraphBlockForm" class="h-full">
            {% include "@vactory_dashboard/_components/paragraph/paragraph-block-form.html.twig" %}
        </template>
        {# Paragraph View Form View #}
        <template x-if="showParagraphViewForm" class="h-full">
            {% include "@vactory_dashboard/_components/paragraph/paragraph-view-form.html.twig" %}
        </template>

        {# Paragraph multiple Form View #}
        <template x-if="showParagraphMultipleForm" class="h-full">
            <div>
                {% include "@vactory_dashboard/_components/paragraph/blocks-modal.html.twig" with {'isMultiple': true} %}
                {% include "@vactory_dashboard/_components/paragraph/paragraph-multiple-form.html.twig" %}
            </div>
        </template>
        {# Include the blocks modal #}
        <template x-if="!showParagraphMultipleForm">
            {% include "@vactory_dashboard/_components/paragraph/blocks-modal.html.twig" %}
        </template>

        {# Include the quiz answers modal #}
        {% include "@vactory_dashboard/_components/fields/quiz-answers-modal.html.twig" %}
        <template x-if="!showBlockForm && !showParagraphBlockForm && !showParagraphViewForm && !showParagraphMultipleForm">
            {% include "@vactory_dashboard/_components/media/media-library.html.twig" %}
        </template>
        {# File Library for image field type #}
        {% include "@vactory_dashboard/_components/media/file-library.html.twig" %}
    </div>
</div>
